In [36]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [37]:
def is_vowel(string):
    letter = r'[aeiou]'
    return bool(re.search(letter, string))

In [38]:
is_vowel('b')

False

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [39]:
def is_valid_username(string):
    user= r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(user, string))

In [40]:
print(is_valid_username('1codeup'))
print(is_valid_username('Codeup'))
print(is_valid_username('codeup_123'))
print(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'))

False
False
True
False

3. Write a regular expression to capture phone numbers. It should match all of the following:

In [41]:
phone_numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
])

phone_number_re = re.compile(r'''
^
(?P<calling_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<first_three>\d{3})
\D*?
(?P<last_four>\d{4})
\D*
$
''', re.VERBOSE)

pd.DataFrame({
    'phone_number': phone_numbers,
    'regexp_matches': phone_numbers.str.match(phone_number_re)
})

      phone_number  regexp_matches
0   (210) 867 5309            True
1  +1 210.867.5309            True
2         867-5309            True
3     210-867-5309            True

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [42]:
dates = pd.Series([
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
])

In [43]:
dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

In [44]:
def format_date(m):
    return '20' + m.group('year') + '-' + m.group('month') + '-' + m.group('day')

dates.str.replace(r'(?P<month>\d+)/(?P<day>\d+)/(?P<year>\d+)', format_date)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

5. Write a regex to extract the various parts of these logfile lines:

In [45]:
logfiles = pd.Series(['''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58''',
'''POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58''',
'''GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''])

logfiles.str.extract(r'''
^
(?P<method>[A-Z]+)
\s
(?P<path>.*?)
\s\[
(?P<time>.*)
\]\s
(?P<version>.*?)
\s\{
(?P<response_code>\d*)
\}\s
(?P<request_size>\d*)
\s\"
(?P<client>.*)
\"\s
(?P<ip>.*)
$''', re.VERBOSE)

,method,path,time,version,response_code,request_size,client,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

  - How many words have at least 3 vowels?
  - How many words have at least 3 vowels in a row?
  - How many words have at least 4 consonants in a row?
  - How many words start and end with the same letter?
  - How many words start and end with a vowel?
  - How many words contain the same letter 3 times in a row?
  - What other interesting patterns in words can you find?

In [46]:
words = pd.read_csv('/usr/share/dict/words', header=None).iloc[:, 0].dropna().str.lower()
words

0                  a
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        zythia
235883        zythum
235884       zyzomys
235885    zyzzogeton
Name: 0, Length: 235884, dtype: object

In [47]:
# How many words with at least 3 vowels?
(words.str.count(r'[aeiou]') >= 3).sum()

191365

In [48]:
# How many words have at least 3 vowels in a row? 
words.str.contains(r'.*[aeiou]{3}').sum()

6182

In [49]:
# How many words have at least 4 consonants in a row?
words.str.contains(r'[^aeiou]{4}').sum()

19241

In [50]:
# How many words start and end with the same letter? 
words.str.contains(r'^(.).*\1$').sum()

11452

In [51]:
# How many words start and end with a vowel? 
words.str.contains(r'^[aeiou].*[aeiou]$').sum()

14657

In [52]:
# How many words contain the same letter 3 times in a row? 
words[words.str.contains(r'(.)\1\1')]

24988             bossship
50636      demigoddessship
78498          goddessship
82997     headmistressship
140481       patronessship
230262            wallless
231688           whenceeer
Name: 0, dtype: object